## Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# creating path variable
path = r'/Users/paigepearson/Desktop/Data Analytics/Immersion Course/Achievement 6/Boat Dashboard'

In [3]:
# importing data set
df_boat = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'boat_data.csv'), index_col = False)

## Examining and Cleaning Data Set

### Examining the Data to create a Raw Data Profile

Note: The dataset is rather large and so the cleaning and wrangling process may take several scripts to complete.

In [4]:
# checking dataset
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [5]:
# checking statistical information
df_boat.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

In [6]:
# checking total rows and columns
df_boat.shape

(9888, 10)

In [7]:
# checking data types
df_boat.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Type                            object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Number of views last 7 days      int64
dtype: object

#### Checking counts of all columns

In [8]:
df_boat['Price'].value_counts(dropna = False)

Price
EUR 65000      77
EUR 45000      67
EUR 75000      64
EUR 89000      64
EUR 55000      61
               ..
EUR 1199000     1
EUR 1197600     1
EUR 1184590     1
EUR 1163760     1
CHF 3780        1
Name: count, Length: 3182, dtype: int64

In [9]:
df_boat['Boat Type'].value_counts(dropna = False)

Boat Type
Motor Yacht                        2720
Sport Boat                         1407
Flybridge                          1194
Trawler                             679
Pilothouse                          613
                                   ...
Bowrider,Motor Yacht,Sport Boat       1
Sport Boat,Working Boat               1
Classic,Motor Yacht,Sport Boat        1
Motor Yacht,Wakeboard/Wakesurf        1
Classic,Runabout,Trawler              1
Name: count, Length: 126, dtype: int64

In [10]:
df_boat['Manufacturer'].value_counts(dropna = False)

Manufacturer
NaN                            1338
BÃ©nÃ©teau power boats          631
Jeanneau power boats            537
Sunseeker power boats           383
Princess power boats            241
                               ...
ISA Yachts power boats            1
Couach power boats                1
Perini Navi Spa power boats       1
Palmer Johnson power boats        1
Hunter power boats                1
Name: count, Length: 911, dtype: int64

In [11]:
df_boat['Type'].value_counts(dropna = False)

Type
Used boat,Diesel                4140
Used boat,Unleaded              1686
Used boat                       1462
new boat from stock,Unleaded    1107
new boat from stock              665
new boat from stock,Diesel       291
new boat on order,Unleaded       150
Display Model,Unleaded            75
new boat on order                 61
new boat on order,Diesel          61
Diesel                            57
Used boat,Electric                27
Unleaded                          22
Display Model,Diesel              19
new boat from stock,Electric      18
Display Model                     18
Used boat,Gas                     10
NaN                                6
Display Model,Electric             6
new boat from stock,Gas            2
new boat from stock,Hybrid         1
Used boat,Hybrid                   1
Display Model,Gas                  1
Electric                           1
Used boat,Propane                  1
Name: count, dtype: int64

In [12]:
df_boat['Year Built'].value_counts(dropna = False)

Year Built
2020    1279
2019     663
0        551
2008     457
2007     393
        ...
1914       1
1895       1
1885       1
1931       1
1900       1
Name: count, Length: 122, dtype: int64

In [13]:
df_boat['Length'].value_counts(dropna = False)

Length
12.00    109
9.00     107
11.00     96
10.00     96
6.50      82
        ...
42.58      1
23.30      1
13.07      1
26.63      1
3.60       1
Name: count, Length: 1613, dtype: int64

In [14]:
df_boat['Width'].value_counts(dropna = False)

Width
2.50    346
3.00    251
2.59    204
2.55    195
2.54    170
       ...
7.44      1
6.92      1
6.95      1
7.47      1
1.89      1
Name: count, Length: 576, dtype: int64

In [15]:
df_boat['Material'].value_counts(dropna = False)

Material
GRP                    5484
NaN                    1749
PVC                    1123
Steel                   939
Wood                    235
Aluminium               229
Plastic                  77
Carbon Fiber             30
Thermoplastic            15
Hypalon                   5
Reinforced concrete       1
Rubber                    1
Name: count, dtype: int64

In [16]:
df_boat['Location'].value_counts(dropna = False)

Location
Netherlands Â» In verkoophaven                      309
Croatia (Hrvatska)                                  244
Italy Â» Toscana Â» Toscana                         173
Italy                                               155
France                                              152
                                                   ...
Italy Â» La Spezia, Italie                            1
France Â» Bretagne Â» Bretagne                        1
Italy Â» Linz Marine Test Centre "Italo Monzino"      1
Italy Â» Adriatic Sea (Fano)                          1
Switzerland Â» Bielersee Â» Gerolfingen               1
Name: count, Length: 2996, dtype: int64

In [17]:
df_boat['Number of views last 7 days'].value_counts(dropna = False)

Number of views last 7 days
68      91
74      87
62      84
67      84
81      84
        ..
582      1
332      1
868      1
435      1
1116     1
Name: count, Length: 674, dtype: int64

## Cleaning the dataset

In [18]:
# checking for missing values
df_boat.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

In [19]:
df_boat.isnull().sum().sum()

3194

Note: 'Manufacturer' and 'Material' have too many missing values to simply be deleted, I will address the other columns before changing any missing values to NaNs.

In [20]:
# Removing all blanks from affected columns except 'Manufacturer' and 'Material'
df_boat1 = df_boat.dropna(subset = ['Type', 'Length', 'Width', 'Location'])

In [21]:
# checking work
df_boat1.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1314
Type                              0
Year Built                        0
Length                            0
Width                             0
Material                       1712
Location                          0
Number of views last 7 days       0
dtype: int64

In [22]:
df_boat1.isnull().sum().sum()

3026

Note: 168 entries containing missing values removed.

In [23]:
# replacing missing values with NaN
df_boat2 = df_boat1.fillna(value = 'NaN')

In [24]:
# checking work
df_boat2.isnull().sum()

Price                          0
Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Location                       0
Number of views last 7 days    0
dtype: int64

In [25]:
# checking for duplicates
df_dups = df_boat2[df_boat2.duplicated()]

In [26]:
df_dups.shape

(0, 10)

Note: No duplicates found

In [27]:
# checking for mixed-type data,
for col in df_boat2.columns.tolist():
      weird = (df_boat2[[col]].applymap(type) != df_boat2[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df_boat2[weird]) > 0:
        print (col)

Note: No mixed types found

In [28]:
# Splitting the 'Price' column and moving the string portion into a new column 'Currency'
df_boat2[['Currency', 'Price']] = df_boat2['Price'].str.split(' ', n=1, expand=True)

In [29]:
# checking work
df_boat2.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR

In [30]:
df_boat2['Currency'].value_counts(dropna = False)

Currency
EUR    8346
CHF     976
Â£      295
DKK     173
Name: count, dtype: int64

In [31]:
# changing Â£ to GBP 
df_boat2['Currency'] = df_boat2['Currency'].str.replace('Â£', 'GBP')

In [32]:
# checking work
df_boat2['Currency'].value_counts(dropna = False)

Currency
EUR    8346
CHF     976
GBP     295
DKK     173
Name: count, dtype: int64

Note: I will create a price column that converts all prices into a single currency so that each boat can be compared more easily. I have chosen to go with the Euro.

Conversion rates were taken from Google's online converter on October 4th, 2023.

In [33]:
# checking data types
df_boat2.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Type                            object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Number of views last 7 days      int64
Currency                        object
dtype: object

In [34]:
# changing 'Price' to int64 data type
df_boat2['Price'] = df_boat2['Price'].astype('int64')

In [35]:
# checking work
df_boat2.dtypes

Price                            int64
Boat Type                       object
Manufacturer                    object
Type                            object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Number of views last 7 days      int64
Currency                        object
dtype: object

In [36]:
# conversion rates to EUR from Oct 4th, 2023
conversion_rates = {'EUR': 1.0, 'CHF': 0.96, 'GBP': 0.87, 'DKK': 7.46}

In [37]:
# function to convert price to EUR and round to the nearest whole number
def convert_to_eur(row):
    if row['Currency'] == 'EUR':
        return row['Price']
    elif row['Currency'] in conversion_rates:
        return round(row['Price'] / conversion_rates[row['Currency']])
    else:
        return None

In [38]:
# creating 'Price in EUR' column
df_boat2['Price in EUR'] = df_boat2.apply(convert_to_eur, axis=1)

In [39]:
# checking work
df_boat2.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,Price in EUR
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3476
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3927
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3472
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399

Note: Unsure what to do with 'Manufacturer' and 'Type'. I will leave NaN in for now.

In [40]:
df_boat2['Year Built'].value_counts(dropna = False)

Year Built
2020    1277
2019     658
0        549
2008     454
2007     389
        ...
1895       1
1885       1
1898       1
1937       1
1900       1
Name: count, Length: 121, dtype: int64

In [41]:
# removing 549 rows where 'Year Built' is equal to 0
df_boat3 = df_boat2[df_boat2['Year Built'] != 0]

In [42]:
# checking work
df_boat3['Year Built'].value_counts(dropna = False)

Year Built
2020    1277
2019     658
2008     454
2007     389
2006     389
        ...
1914       1
1895       1
1885       1
1931       1
1900       1
Name: count, Length: 120, dtype: int64

In [43]:
df_boat3.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,Price in EUR
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3476
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3472
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399
6,3600,Catamaran,NaN,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474,CHF,3750

Note: For the 'Location' column, I understand this may be an encoding issue, but for the purpose of this project I only need the country information and will extract it into a new column, then remove the 'Location' column entirely.

In [44]:
# creating a list of European Countries
country_names = ['Venezuela', 'United States', 'United Arab Emirates', 'Taiwan', 'Turkey', 'Thailand', 'Seychelles', 'Philippines', 'Morocco', 'Lebanon', 'Egypt', 'Cyprus', 'Australia', 'Switzerland', 'France', 'Germany', 'Italy', 'Spain', 'Russia', 'United Kingdom', 'Poland', 'Ukraine', 'Romania', 'Netherlands', 'Belgium', 'Sweden', 'Czechia', 'Greece', 'Portugal', 'Hungary', 'Belarus', 'Austria', 'Switzerland', 'Serbia', 'Bulgaria', 'Denmark', 'Slovakia', 'Finland', 'Norway', 'Ireland', 'Croatia', 'Moldova', 'Bosnia and Herzegovina' 'Albania', 'Lithuania', 'Slovenia', 'North Macedonia', 'Latvia', 'Estonia', 'Luxembourg', 'Montenegro', 'Malta', 'Iceland', 'Andorra', 'Liechtenstein', 'Monaco', 'San Marino', 'Holy See']

In [45]:
# mapping for specific cases, each once was researched using Google Maps. This left just a couple of entries that couldn't be located or understood.
country_mapping = {
    'Slovak Republic': 'Slovakia',
    'B√É¬ºdelsdorf': 'Germany',
    'Traunstein': 'Germany',
    'Adria': 'Italy',
    'Angera': 'Italy',
    'annecy': 'France',
    'Avenches': 'Switzerland',
    'baden baden': 'Germany',
    'Zulte': 'Belgium',
    'Beilngries': 'Germany',
    'Bielefeld': 'Germany',
    'Brandenburg': 'Germany',
    'Bremen': 'Germany',
    'Mallorca': 'Spain',
    'Donau': 'Germany',
    'Czech Republic': 'Czechia',
    'Dalmatien': 'Croatia',
    'espa?a': 'Spain',
    'Fu√É¬üach': 'Germany',
    'Italien': 'Italy',
    'Gibraltar': 'United Kingdom',
    'Greetsile': 'Germany',
    'Izola': 'Slovenia',
    'Italie': 'Italy',
    'Isle of Man': 'United Kingdom',
    'Heilbronn': 'Germany',
    'Ibiza': 'Spain',
    'Jersey': 'United Kingdom',
    'Kroatien': 'Croatia',
    'Katwijk': 'Netherlands',
    'Juelsminde': 'Denmark',
    'Lago di Garda': 'Italy',
    'Lago Maggiore': 'Italy',
    'Altenrhein': 'Switzerland',
    '8253': 'Switzerland',
    'Sipplingen': 'Germany',
    'Thal': 'Switzerland',
    'Steckborn': 'Switzerland',
    '78343': 'Germany',
    '78337': 'Germany',
    'Andelfingen': 'Switzerland',
    '8560': 'Switzerland',
    'Geneva': 'Switzerland',
    'Marina Punat': 'Croatia',
    'Martinique': 'France',
    'Lommel': 'Belgium',
    'Oder': 'Poland',
    'Ostsee': 'Germany',
    'Vinodolski': 'Croatia',
    'Opwijk': 'Belgium',
    'Nordseek√É¬ºste': 'Germany',
    'Rovinij': 'Croatia',
    'Rolle': 'Switzerland',
    'R√É¬ºgen ': 'Germany',
    'Esbjerg': 'Denmark',
    'Porto Rotondo': 'Italy',
    'Rheinfelden': 'Germany',
    'Steinwiesen': 'Germany',
    'Stralsund': 'Germany',
    'Split': 'Croatia',
    'Travem√É¬ºnde': 'Germany',
    'Travem√É¬ºnde ': 'Germany',
    'Toscana': 'Italy',
    'Tenero': 'Switzerland',
    'Thalwil': 'Switzerland',
    'Thun': 'Switzerland',
    'Zevenbergen': 'Netherlands',
    'waren': 'Germany',
    'Wangen': 'Switzerland',
    'Buochs': 'Switzerland',
    'Welschenrohr': 'Switzerland',
    'Faoug': 'Switzerland',
    'French': 'France',
    'Wijdenes': 'Netherlands'
    
}

In [46]:
# function to find the country name in text
def find_country(text):
    # Check for specific cases first
    for special_case, replacement in country_mapping.items():
        if special_case.lower() in text.lower():
            return replacement

    # check for standard country names
    for country_name in country_names:
        if country_name.lower() in text.lower():
            return country_name

    return 'No Country'

In [47]:
# Apply the find_country function to the 'Location' column
df_boat3['Country'] = df_boat3['Location'].apply(find_country)

# If no country is found, replace with 'No Country'
df_boat3['Country'].fillna('No Country', inplace=True)

/var/folders/vr/dtw_gx814dz__p2jnh_scllw0000gn/T/ipykernel_46132/2844513187.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_boat3['Country'] = df_boat3['Location'].apply(find_country)
/var/folders/vr/dtw_gx814dz__p2jnh_scllw0000gn/T/ipykernel_46132/2844513187.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_boat3['Country'].fillna('No Country', inplace=True)

In [48]:
# checking work
df_boat3.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,Price in EUR,Country
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3476,Switzerland
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490,Germany
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3472,Denmark
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399,Germany
6,3600,Catamaran,NaN,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474,CHF,3750,Switzerland

In [49]:
df_boat3['Country'].value_counts(dropna = False)

Country
Italy                   1877
Germany                 1611
France                  1217
Netherlands             1020
Switzerland              931
Croatia                  797
Spain                    695
United Kingdom           210
Denmark                  167
Portugal                 132
Greece                    86
Malta                     70
Austria                   67
Turkey                    64
Belgium                   61
Poland                    41
Slovenia                  35
Finland                   30
Montenegro                19
United Arab Emirates      16
Sweden                    12
Monaco                    10
Slovakia                   9
No Country                 7
United States              6
Russia                     5
Cyprus                     5
Lithuania                  5
Estonia                    4
Hungary                    4
Czechia                    4
Thailand                   3
Bulgaria                   3
Norway                     2
Latvia                     2
Ukraine                    2
Australia                  2
Taiwan                     1
Philippines                1
Venezuela                  1
Ireland                    1
Serbia                     1
Seychelles                 1
Morocco                    1
Lebanon                    1
Egypt                      1
Romania                    1
Name: count, dtype: int64

In [50]:
# removing all entries with 'No Country', total of 7
df_boat3 = df_boat3.loc[df_boat3['Country'] != 'No Country']

In [51]:
# checking work
df_boat3['Country'].value_counts(dropna = False)

Country
Italy                   1877
Germany                 1611
France                  1217
Netherlands             1020
Switzerland              931
Croatia                  797
Spain                    695
United Kingdom           210
Denmark                  167
Portugal                 132
Greece                    86
Malta                     70
Austria                   67
Turkey                    64
Belgium                   61
Poland                    41
Slovenia                  35
Finland                   30
Montenegro                19
United Arab Emirates      16
Sweden                    12
Monaco                    10
Slovakia                   9
United States              6
Cyprus                     5
Lithuania                  5
Russia                     5
Hungary                    4
Czechia                    4
Estonia                    4
Thailand                   3
Bulgaria                   3
Australia                  2
Latvia                     2
Norway                     2
Ukraine                    2
Serbia                     1
Philippines                1
Taiwan                     1
Egypt                      1
Venezuela                  1
Ireland                    1
Seychelles                 1
Morocco                    1
Lebanon                    1
Romania                    1
Name: count, dtype: int64

In [52]:
df_boat3.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,Price in EUR,Country
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3476,Switzerland
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490,Germany
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3472,Denmark
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399,Germany
6,3600,Catamaran,NaN,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474,CHF,3750,Switzerland

In [53]:
# removing the 'Location' column, and rearranging the columns for readability
df_boat4 = df_boat3[['Country', 'Currency', 'Price', 'Price in EUR', 'Manufacturer', 'Boat Type', 'Type', 'Year Built', 'Material', 'Length', 'Width', 'Number of views last 7 days']]

In [54]:
# checking work
df_boat4.head()

,Country,Currency,Price,Price in EUR,Manufacturer,Boat Type,Type,Year Built,Material,Length,Width,Number of views last 7 days
0,Switzerland,CHF,3337,3476,Rigiflex power boats,Motor Yacht,new boat from stock,2017,NaN,4.00,1.90,226
1,Germany,EUR,3490,3490,Terhi power boats,Center console boat,new boat from stock,2020,Thermoplastic,4.00,1.50,75
3,Denmark,DKK,25900,3472,Pioner power boats,Sport Boat,new boat from stock,2020,NaN,3.00,1.00,64
4,Germany,EUR,3399,3399,Linder power boats,Fishing Boat,new boat from stock,2019,Aluminium,3.55,1.46,58
6,Switzerland,CHF,3600,3750,NaN,Catamaran,"Used boat,Unleaded",1999,Aluminium,6.20,2.38,474

In [55]:
# changing 'Number of views last 7 days' to 'Number of Views Last 7 Days'
df_boat4.rename(columns={'Number of views last 7 days': 'Number of Views Last 7 Days'}, inplace=True)

/var/folders/vr/dtw_gx814dz__p2jnh_scllw0000gn/T/ipykernel_46132/2008157059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_boat4.rename(columns={'Number of views last 7 days': 'Number of Views Last 7 Days'}, inplace=True)

In [56]:
# checking work
df_boat4.head()

,Country,Currency,Price,Price in EUR,Manufacturer,Boat Type,Type,Year Built,Material,Length,Width,Number of Views Last 7 Days
0,Switzerland,CHF,3337,3476,Rigiflex power boats,Motor Yacht,new boat from stock,2017,NaN,4.00,1.90,226
1,Germany,EUR,3490,3490,Terhi power boats,Center console boat,new boat from stock,2020,Thermoplastic,4.00,1.50,75
3,Denmark,DKK,25900,3472,Pioner power boats,Sport Boat,new boat from stock,2020,NaN,3.00,1.00,64
4,Germany,EUR,3399,3399,Linder power boats,Fishing Boat,new boat from stock,2019,Aluminium,3.55,1.46,58
6,Switzerland,CHF,3600,3750,NaN,Catamaran,"Used boat,Unleaded",1999,Aluminium,6.20,2.38,474

Note: The 'Manufacturer' column had names that had a UTF-8 encoding issue, and despite my efforts were not being able to change in Python. The dataset file is small enough that it was simpler to change the affected entries in Excel instead.

In [57]:
# renaming 'Type' to 'Old Type' to prep for the new columns 'Condition Type' and 'Propulsion Type', and really just help me not confuse it with the other columns.
df_boat4.rename(columns={'Type': 'Old Type'}, inplace=True)

/var/folders/vr/dtw_gx814dz__p2jnh_scllw0000gn/T/ipykernel_46132/2095889551.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_boat4.rename(columns={'Type': 'Old Type'}, inplace=True)

In [58]:
df_boat4.columns

Index(['Country', 'Currency', 'Price', 'Price in EUR', 'Manufacturer',
       'Boat Type', 'Old Type', 'Year Built', 'Material', 'Length', 'Width',
       'Number of Views Last 7 Days'],
      dtype='object')

In [59]:
# creating a variable holding all condition types, any case
phrases = {
    'display model': 'Display Model',
    'new boat from stock': 'New Boat From Stock',
    'new boat on order': 'New Boat On Order',
    'used boat': 'Used Boat'
}

In [60]:
# creating a function to match and assign 'Condition Type'
def find_condition_type(row):
    row = row.lower()  
    for phrase, condition_type in phrases.items():
        if phrase in row:
            return condition_type
    return 'NaN'

In [61]:
# Apply the function to create the 'Condition Type' column
df_boat4['Condition Type'] = df_boat4['Old Type'].apply(find_condition_type)

In [62]:
# checking work
df_boat4['Condition Type'].value_counts(dropna=False)

Condition Type
Used Boat              7151
New Boat From Stock    1652
New Boat On Order       239
Display Model           113
NaN                      79
Name: count, dtype: int64

In [63]:
# creating a variable holding all propulsion types, any case
propulsion_phrases = {
    'diesel': 'Diesel',
    'gas': 'Gas',
    'electric': 'Electric',
    'unleaded': 'Unleaded',
    'hybrid': 'Hybrid',
    'propane': 'Propane'
}

In [64]:
# creating a function to match and assign 'Propulsion Type'
def find_propulsion_type(row):
    row = row.lower()  
    for phrase, propulsion_type in propulsion_phrases.items():
        if phrase in row:
            return propulsion_type
    return 'NaN'

In [65]:
# Apply the function to create the 'Condition Type' column
df_boat4['Propulsion Type'] = df_boat4['Old Type'].apply(find_propulsion_type)

In [66]:
# checking work
df_boat4['Propulsion Type'].value_counts(dropna=False)

Propulsion Type
Diesel      4417
Unleaded    2727
NaN         2027
Electric      47
Gas           13
Hybrid         2
Propane        1
Name: count, dtype: int64

In [67]:
df_boat4.head()

,Country,Currency,Price,Price in EUR,Manufacturer,Boat Type,Old Type,Year Built,Material,Length,Width,Number of Views Last 7 Days,Condition Type,Propulsion Type
0,Switzerland,CHF,3337,3476,Rigiflex power boats,Motor Yacht,new boat from stock,2017,NaN,4.00,1.90,226,New Boat From Stock,NaN
1,Germany,EUR,3490,3490,Terhi power boats,Center console boat,new boat from stock,2020,Thermoplastic,4.00,1.50,75,New Boat From Stock,NaN
3,Denmark,DKK,25900,3472,Pioner power boats,Sport Boat,new boat from stock,2020,NaN,3.00,1.00,64,New Boat From Stock,NaN
4,Germany,EUR,3399,3399,Linder power boats,Fishing Boat,new boat from stock,2019,Aluminium,3.55,1.46,58,New Boat From Stock,NaN
6,Switzerland,CHF,3600,3750,NaN,Catamaran,"Used boat,Unleaded",1999,Aluminium,6.20,2.38,474,Used Boat,Unleaded

In [68]:
# rearranging columns and removing the 'Old Type' column
df_boat5 = df_boat4[['Country', 'Currency', 'Price in EUR', 'Manufacturer', 'Boat Type', 'Condition Type', 'Propulsion Type', 'Year Built', 'Material', 'Length', 'Width', 'Number of Views Last 7 Days']]

In [69]:
# checking work
df_boat5.head()

,Country,Currency,Price in EUR,Manufacturer,Boat Type,Condition Type,Propulsion Type,Year Built,Material,Length,Width,Number of Views Last 7 Days
0,Switzerland,CHF,3476,Rigiflex power boats,Motor Yacht,New Boat From Stock,NaN,2017,NaN,4.00,1.90,226
1,Germany,EUR,3490,Terhi power boats,Center console boat,New Boat From Stock,NaN,2020,Thermoplastic,4.00,1.50,75
3,Denmark,DKK,3472,Pioner power boats,Sport Boat,New Boat From Stock,NaN,2020,NaN,3.00,1.00,64
4,Germany,EUR,3399,Linder power boats,Fishing Boat,New Boat From Stock,NaN,2019,Aluminium,3.55,1.46,58
6,Switzerland,CHF,3750,NaN,Catamaran,Used Boat,Unleaded,1999,Aluminium,6.20,2.38,474

In [70]:
# exporting cleaned data
df_boat5.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'boat_cleaned.csv'))